.idea
.bowerrc
node_modules
bower_components
locales
credits.html
d3dcompiler_47.dll
ffmpegsumo.dll
icudtl.dat
libEGL.dll
libGLESv2.dll
electron.exe
pdf.dll
conf/sounds/*
!conf/sounds/siren.mp3
!conf/sounds/applause.mp3
conf/data.js
mpg123
USBswitch
lib
app/dist
